@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Weekly report */
.weekly_container{
    min-width: 94vw;
    max-width: 94vw;
    min-height: 12vh;
    margin: auto;
    
}

.report_menu{
    overflow: auto;
    white-space: nowrap;
    background-color: #e9ecef; 
    border: 1px solid #e9ecef; 
    border-radius: 10px; 
}
.weekly_container h2{
    margin-bottom: 0.5vh;
    margin-left: 2vw;
    color: blue;
}
.report_menu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    /* border-radius: 50px; */
  }
  .report_menu a:hover {
    background-color: white;
    color: #FF2400;
  }

.deliverable_pictures{
    min-width: 100%;
    max-width: 100%;
    min-height: 500px;
    max-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
}
.picture_container{
    display: flex;
    /* min-width: fit-content; */
    max-width: 100%;
    background-color: white;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out ;
    transform-origin: center center;
    overflow: none;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Soft shadow */
}
.picture_container h3{
    width: 100%;
    
    text-align: center;
}
.picture_container:hover{
    /* cursor: pointer; */
}
.picture_container img{
    
    overflow: none;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-top: 0.5vh;
    
}
.left_pic{
    grid-column: 1;
    margin-left: 1%;
}
.left_pic:hover{
    transition-delay: 0.75s;
    transform: scale(1.2) translateX(10%);
    z-index: 1002;
}
.left_pic:not(:hover){
    transition-delay: 0;
}
.right_pic{
    grid-column: 2;
    margin-right: 1%;
}
.right_pic:hover{
    transition-delay: 0.75s;
    transform: scale(1.2) translateX(-10%);
    z-index: 1002;
}
.right_pic:not(:hover){
    transition-delay: 0;
}
.center_pic{
    grid-column: 1/3;
    margin: 1% 1%;
}
.center_pic:hover{
    
}